<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help Page</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <div class="mainContent">
  {{>header}}
  <h1>{{title}}</h1>
  <hr>
  <p>{{body}}</p>
  </div>
  {{>footer}}
</body>
</html>