<h1>Static Header HBS Text</h1>
<h2>I am at your command, {{name}}</h2>
<hr>

<header>
  <nav><a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
  <a href="/weather">Weather</a></nav>
</header>